@import '../../../assets/styles/variables.less';

.contentHeader {
  margin-bottom: 10px;

  .contentTitle {
    font-size: @title-font-size;
  }

  .breadcrumbCtn {
    font-size: @regular-font-size;
  }
}

//Notification Item
.notiItemCtn {
  gap: 10px;
  display: flex;
  padding: 5px;

  .imageCtn {
  }

  .notiDetailCtn {
    display: flex;
    flex-direction: column;
    gap: 2px;
    
    .time {
      color: #a5acb8;
    }
  }
}

.readNotification {
  background-color: #f9f9f9;
}

.unreadNotification {
  background-color: #e6e6e6;
}

.time {
  color: #a5acb8;
}